@{
    ViewData["Title"] = "Home";
}

<h2>FoxyCart Web Sample</h2>
<ul>
    <li><b>/FoxyCart/Sso</b> - Single Sign On Endpoint</li>
    <li><b>/FoxyCart/DataFeed</b> - XML Data Feed Endpoint</li>
</ul>
